*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
  }
  a{
      color: inherit;
  }
  .content{
    margin-left: 14rem;
}
/* Nav */

nav{
    display:flex;
    height:100vh;
    flex: 2;
    background-color:#010101;
    position:fixed;
    padding:1rem 2rem;
  }
  nav hr{
    height:3px;
    width:140%;
    transform:translateX(-15%);
    background:rgba(255,255,255, 0.5);
    margin-bottom:1rem;
    border:none;
  }
  ul{
    list-style:none;
    display:flex;
    flex-direction:column;
  }
  ul li{
    margin-bottom:1rem;
    color:rgba(255,255,255, 0.5);
    /* cursor:pointer; */
  }
  nav ul li i{
    margin-right:0.7rem;
  }
  .nav-links li:last-of-type{
    margin-top:auto;
  }
  .logo{
    font-size:1.4em;
    text-decoration:none;
    color:#fff;
    letter-spacing:1.5px;
  }
  .playlist{
    padding-left:14px;
  }

  /* Content */
  .container{
    padding:1rem 0.5rem;
    width:auto;
    background-color:#FFF;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,auto));
    grid-gap:1rem;
  }
  .container>div{
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    border:3px solid rgba(0,0,0,0.4);
    transition:all 0.5s ease;
    opacity: .75;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition:all 0.2s ease;
    border-radius:1rem;

  }
  .container>div:hover{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    color:white;
  }
  
  .header{
    padding:0 1rem;
    min-height:10vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    border-bottom:3px solid rgba(25,55,55,0.2);
    position:sticky;
    top:0;
    background:#fff;
    z-index:10;
  }
  .header h1{
  /*   letter-spacing:1.5px; */
    color:rgba(25,55,55,0.5);
  }
  h1 span{
    font-size:1.5em;
    color:#f3c392;
  }