*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-behavior:smooth;

  }
  body{
    min-height:100vh;
    display: flex;
  }
  nav{
      flex: 1;
  }
  .content{
      flex-grow: 1;
      flex: 1;
  }
  nav{
    display:flex;
    height:100vh;
    flex: 2;
    background-color:#010101;
    position:fixed;
    padding:1rem 2rem;
  }
  nav hr{
    height:3px;
    width:140%;
    transform:translateX(-15%);
    background:rgba(255,255,255, 0.5);
    margin-bottom:1rem;
    border:none;
  }
  ul{
    list-style:none;
    display:flex;
    flex-direction:column;
  }
  ul li{
    margin-bottom:1rem;
    color:rgba(255,255,255, 0.5);
    /* cursor:pointer; */
  }
  nav ul li i{
    margin-right:0.7rem;
  }
  .nav-links li:last-of-type{
    margin-top:auto;
  }
  .logo{
    font-size:1.4em;
    text-decoration:none;
    color:#fff;
    letter-spacing:1.5px;
  }
  .playlist{
    padding-left:14px;
  }
  section{
    min-height:100vh;
    border-bottom:2px solid rgba(0, 0, 0, 0.4);
    margin-left:12rem; 
  }
  section.header{
    min-height:20vh;
    display:flex;
    align-items:center;
    padding:1rem 3rem;
    background:linear-gradient(135deg, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%);
  }
  .playlist-header{
    display:flex;
  }
  .header img{
    object-fit:cover;
    height:240px;
  }
  
  .playlist__details{
    display:flex;
    flex-direction:column;
    margin-left:1rem;
    justify-content:flex-end;
  }
  .playlist__details:nth-child(1){
    margin-top:auto;
  }
  .playlist__details .play__name{
    font-size:4em;
    font-weight:bolder;
    font-family:'Montserrat', poppins;
  }
  
  
  /* Songs */
  .playlist__songs{
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,0.95) 100%);
    padding:1rem 2rem;
    max-height: 100vh;
    overflow-y: auto;
  }

  .playlist__items{
    display:flex;
    flex-direction:column;
    list-style:none;
  }
  .playlist__items li{
    margin-bottom:0.5rem;
    padding:0.4rem 1rem;
    transition:0.3s all ease-in;
  }

  .playlist__items .song{
    display:flex;
    align-items:center;
    font-size:1.2rem;
  }

  .playlist__items .song:hover{
    background-color:rgba(255,255,255,.5);
  }
  .song__player_icon{
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-radius:50%;
    border:2px solid rgba(255,255,255,0.5);
  }
  
  
  .song__details{
    margin-left:1rem;
  }
  .song:nth-child(1)>:nth-child(2){
      margin-left: 2rem;
  }
  .song>:nth-child(3){
      margin-left: auto;
      margin-right: 1rem;
      cursor: pointer;
  }
  
  
  
  
  
  .new__releases{
    background:rgba(61,61,61,0.5);
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
  }
  .card{
    height:240px;
    width:300px;
    background:rgba(255,255,255,0.2);
    border-radius:7px;
    cursor:pointer;
    margin-left:2rem;
    margin-top:1rem;
  }
  .new__releases .heading{
    margin-left:2rem;
    text-align:left;
    font-size:2rem;
  }
  